@font-face {font-family: "iconfont";
  src: url('../../static/font/iconfont.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e60f";
}

